@import './blocks/header.sass'
@import './blocks/sidebar.sass'
@import './blocks/main.sass'


.dashboard
    height: 100vh
    width: 100%
    &-body
        height: calc(100% - 100px)
        width: 100%
        display: flex